@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";

@theme{
    --font-Funnel : "Funnel Display" , sans-serif;
    --font-Inter: "Inter" , sans-serif;
    --font-Ubuntu:"Ubuntu" , sans-serif;

    --color-theme1:#C5D86D;
    --color-theme2:#0D1321;
    --color-theme3:#FFEDDF;
    --color-border1:#9CB869;
    --color-hover1:#E3EFCD;
}

body{
    background-color: #FFEDDF;
}